.main{
    background: #f4f4f4;
}

a:link {
    color: #3F658F;
    text-decoration: none;
  }

.site-content{
    background: #f4f4f4;
    min-height: 100vh;
}

.new-post-container{
    margin-top: 100px;
}

.post{

}

#post-loading-container{
    text-align: center;
}

#post-loading-container > img{
    height: 100px;
    width: 100px;
}

#savePost-loading{
    display: none;
    height: 40px;
}

.color-primary{
    color: #3F658F;
}

.new-user-container{
    margin-top: 75px;
}

.new-user{
    /* display: none; */
}

#user-exists-warning{
    display: none;
}

.new-message-container{
    margin-top: 100px;
}